#theform {
    position: fixed;
    width: 70%;
    height: 60%;
    background: #FFFFFF;
    margin-left: 15%;
    padding: 2em;
    border: 5px solid #FF0000;
    border-radius: 1em;
}
#formrest1 {
    color: #000000;
    margin-top: 1em;
}
#schriftmünd {
    display: Flex;
}
#schrift {
    width: 50%;
    margin-right: 2em;
}
#münd {
    width: 50%;
}
#formrest2 select {
    margin-top: 1em;
    margin-bottom: 1em;
}