body {
  font-size: 100%;
  margin: 0em;
  padding: 0em;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  background-color: #1C1C1E;
}
a {
  text-decoration: none;
  color: #FFCC00  ;
}
nav {
  display: block;
  position: absolute;
  position: fixed;
  width: 100%;
  height: 3em;
  background-color: #000000;
  margin-top: 0em;
  top: 0em;
  z-index: 100000;
}
nav .navbutton {
  position: fixed;
  display: none;
  font-size: 2em;
}
nav .title {
  position: fixed;
  width: 5em;
  text-align: center;
  margin-top: 0.25em;
  margin-left: 1em;
  font-size: 2em;
}
#sidebar {
  position: absolute;
  position: fixed;
  left: 15em;
}
#sidebar a:not(#close) {
  display: inline-block;
  width: auto;
  padding-left: 0em;
  padding-right: 1em;
  text-align: left;
  font-size: 2em;
  margin-top: 0.2em;
  color: #FFCC00;
}
#sidebar a:hover:not(#close) {
  background-color: #2A2C2B;
  border-bottom: 1px #FFCC00 solid;
}
.Anmeldebereich {
  position: fixed;
  right: 1em;
  font-size: 2em;
  margin-top: 0.25;
}
.Anmeldebereich img {
  position: absolute;
  right: 6em;
  height: 1.5em;
  width: 1.5em;
}
.Anmeldebereich a {
  font-size: 0.55em;
}
#close {
  display: none;
  width: 1em;
  text-align: center;
  font-size: 2em;
  margin-top: 0.2em;
  color: #FFCC00;
  margin-left: 1em;
}
#close:hover {
  color: #FF9500;
}
#Main {
  margin-top: 10em;
  z-index: 10;
}
#Heute {
  border: 0.5em solid #FFCC00;
}
.borderding {
  position: relative;
  border: 0.2em solid #FFFFFF;
}
.Heutiger-Stundenplan tr .borderding div {
  display:inline-block;
  position: relative;
}
.Heutiger-Stundenplan {
  border-radius: 0.25em;
  width: 90%;
  font-size: 0.7m;
  margin-right: 5%; 
  margin-left: 5%;
}
.Tag {
  padding-top: 0px;
  vertical-align: top;
}
#Abfrage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    background-color:#2A2C2B;
    border-top: solid 0.5em #FFCC00;
    display: none;
    font-size: 17px;
}
#Abfrage div {
  width: 50%;
}
#Ja {
  border-radius: 10px;
  font-size: 2.2em;
  padding: 15px 30px;
  bottom: 27.5%;
  right: 10%;
  position: absolute;
  color: #000000;
  background-color: #FFCC00;
}
@media (max-width: 1665px){
  body {
    font-size: 80%;
  }
  #close {
    display: block;
  }
  #sidebar a {
    display: inline-block;
    color:#FFCC00;
    width: 7.5em;
  }
  #sidebar {
    left: 0em;
    display: none;
    background-color: black;
    color: #FFCC00;
    height: 100%;
    width: 20em;
    text-align: center;
  }
  nav .navbutton {
    display: block;
  }
}

@media(max-width: 600px) {
  body{
    font-size: 60%;
  }
  .Heutiger-Stundenplan td:not(#Heute) {
    display: none;
  }
}

