body {
    font-size: 100%;
    margin: 0em;
    padding: 0em;
    color: #FFFFFF;
    font-family: 'Quicksand', nsans-serif;
    background-color: #1C1C1E;
    
}

a {
    text-decoration: none;
    color: #0a84ff;
}

nav {
    display: block;
    position: absolute;
    position: fixed;
    width: 100%;
    height: 3.55em;

    background-color: #000000;
    margin-top: 0em;
    top: 0em;
    z-index: 100000;
    border-bottom: 1px #0a84ff solid;
}

nav .navbutton {
    position: fixed;
    display: none;
    font-size: 2em;
}

nav .title {
    position: fixed;
    width: 5em;
    text-align: center;
    margin-top: 0.1em;
    margin-left: 1em;
    font-size: 2em;
}

#sidebar {
    display: Flex;
    flex-direction: row;
    position: fixed;
    left: 15em;
    margin-top: 0px;
}

#sidebar a:not(#close) {
    width: auto;
    text-align: left;
    font-size: 2.35em;
    margin-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
}

#sidebar a:hover:not(#close) {
    background-color: #2A2C2B;
}

.Anmeldebereich {
    position: fixed;
    right: 1em;
    font-size: 1em;
    margin-top: 0.25;
}

.Anmeldebereich img {
    position: absolute;
    right: 0.3em;
    height: 1em;
    width: 1em;
    font-size: 3em;
}

.Anmeldebereich a {
    font-size: 0.55em;
}

#close {
    display: none;
    width: 1em;
    text-align: center;
    font-size: 2em;
    margin-top: 0.2em;
    color: #0a84ff;
    margin-left: 1em;
}

#Main {
    margin-top: 8em;
    z-index: 10;
    position: relative;
    display: Flex;
    flex-direction: row;
}

#Heute {
    border: 0.5em solid #0a84ff;
}

.borderding {

    border: 0.2em solid #FFFFFF;
}

.borderding2 {
    position: relative;
    width: 100%;

    border: 0.2em solid #FFFFFF;
    
}

.borderding2 div {
    width: 100%;
    position: relative;
}

.Hinzufügen {
    text-align: center;
}

.Löchen {
    position: absolute;
    top: 0;
    right: 0;
}

.Heutiger-Stundenplan tr .borderding div {
    display: inline-block;
    position: relative;
}

.Heutiger-Stundenplan {
    border-radius: 0.25em;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.Tag {
    padding-top: 0px;
    vertical-align: top;
}

#Abfrage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    z-index: 1000;
    background-color: #2A2C2B;
    border-top: solid 0.5em #0a84ff;
    display: none;
    font-size: 17px;
}

#Abfrage div {
    width: 50%;
}

#Ja {
    border-radius: 10px;
    font-size: 2.2em;
    padding: 15px 30px;
    bottom: 27.5%;
    right: 10%;
    position: absolute;

    color: #000000;
    background-color: #0a84ff;
}

@media (max-width: 1665px) {
    body {
        font-size: 80%;
    }

    #close {
        display: block;
        position: relative;
        left: 8em;
    }

    #sidebar {
        left: 0em;
        flex-direction: column;
        display: none;
        background-color: black;
        height: 100%;
        width: 25em;
    }

    nav .navbutton {
        display: block;
    }
}

@media(max-width: 600px) {
    body {
        font-size: 60%;
    }

    .Heutiger-Stundenplan td:not(#Heute) {
        display: none;
    }
}

@media(max-width: 1200px) {
    #Main {
        display: Flex;
        flex-direction: column;
    }
    .Heutiger-Stundenplan {
        width: 100%;
        display: block;
    }
    .indexflexeins {
        width: 100%;
    }
    .indexflexzwei {
        width: 100%;
    }
}


.home {
    margin-top: 10em;
    text-align: center;
}


.AbstandHome {
    margin-bottom: 50%;
}

.blur {
    -webkit-filter: blur(5px);  -moz-filter: blur(5px);  -o-filter: blur(5px);  -ms-filter: blur(5px);
}

.indexflexeins {
    width: 75%;
    position: relative;
    margin-right: 1em;
}

.indexflexzwei {
    position: relative;
    top: 1em;
    width: 25%;
}
